body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: snow;
  color: #444;
}

div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  width: 40%;
  height: 50%;

  padding: 20px;  
  background: gainsboro;
  color: black;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
