body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: gray;
  color: #444;
}

div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  width: 40%;
  height: 50%;

  padding: 20px;  
  background: dimgray;
  color: white;
  text-align: center;
}

div#content {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

div#loading {
  width: 35px;
  height: 35px;
  display: none;
  background: url(/static/img/loader.gif) no-repeat;
  cursor: wait;
}

div#result {
  font: normal 10pt 'Courier New';
  width: 300px;
  height: 300px;
  overflow: scroll;"
}

input, textarea {
  background: lightgray;
  width: 50%;
  padding: 1em 1em;
  margin: 0.5em 0;
  box-sizing: border-box;
  border-radius: 0.5em;
  border: none;
  border-bottom: 0.25em solid #3a3a3a;
}
